
#aboutImage {
	background-image:url('img/b1_flower.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	width:100%;
	height:100%;
	top:0;
	position:absolute;
}

#aboutSlides {
	height:100%;
	overflow:hidden;
	opacity :1;
}

#aboutSlides > ul > li {
	opacity:0;
	position:absolute;
	height:100%;
	width:100%;
	transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;

}

#aboutSlides .titleContainer {
	opacity:1;
	width:100%;
	height:100%;
  font-size: 48px;
  line-height: 1.35;
  text-align: center;
  color: #000;
	display:block;
	position:absolute;
}

#aboutSlides .title {
  	margin: 0 auto;
	position:absolute;
	left: 15%;
	font-family:"Gotham-Black";
}



#about1 .title {
	top:40%;
}

#about2 .title {
	top:20%;
}

#about3 .title {
	top:17%;
}



.downArrowContainer {
	position:absolute;
	bottom:calc(0% + 40px);
	width:100%;
}
.downArrow {
	background-image:url('img/downarrow_blk.png');
	position:relative;
	z-index:40;
	width:20px;	
	height:12px;
	margin:0 auto;
	bottom:calc(0% + 40px);
	display:block;
	
	-webkit-animation: bounce 2s infinite ease-in-out;
}



.downArrow:hover {
	cursor:pointer;
}


#about2 .aboutText {
	position:relative;
	width:960px;
	margin: 0 auto;
	top: 35%;
	padding:10px;
	font-family:"Gotham-Book";
	font-size:14px;
	ttext-align:center;	
	color:#000;
	background-color: rgba(255, 255, 255, .5);

}


#about3 .aboutText {
	position:relative;
	display:inline-block;
	font-size:13px;
	line-height:20px;
	width:290px;
	height: 160px;
	padding:15px;
	overflow:hidden;
	text-align:left;
	font-family:"Gotham-Book";
	background-color: rgba(255, 255, 255, .5);

}
#about3 .aboutText h2 {
	font-family:"Gotham2";
	font-weight:bold;
	font-size:14px;
}
#about3TextContainer{
	position:relative;
	margin:0 auto;
	width:1024px;
	top:30%;
}
.background_img {
	opacity:.7;
	width:100%;
	height:100%;
	position:absolute;
	top:0; left:0;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	
}

.image_title {
	opacity:1;
  width: 407px;
  height: 65px;
  font-size: 48px;
  line-height: 1.35;
  text-align: center;
  color: #000;
	margin: 0 auto;
	top:40%;
	display:block;
	position:relative;
}

.image_desc {
	font-weight:book;	
	color:white;
	position:relative;
	margin: 0 auto;
	width: 960px;
	text-align:center;
	margin-top: 200px;
	font-size:15px;
}

#img1 {
	background-image:url('img/bg.jpg');
}
#img1_title {
  font-family:"SF-UI-Display-Regular";

}

#img2_title {
	font-family: "Gotham2";
	font-weight:black;
	width:500px;
	top:20%;
}


