#contactSlide {
	opacity:0;
	background-color:#EEEEEE;
	padding-top:120px;
	width:100%;
	height:100%;
	z-index:50;
}

#contactInner {
	width:720px;
	font-family:Gotham-Light;
	margin: 0 auto;
	text-align:center;
	color:#333333;
}

#contactInner h1 {
	font-size:40px;
	font-family:Gotham-Black;
	letter-spacing:1.5px;
}

#contactInner p {
	font-size:22px;	
	font-family:Gotham;
	font-weight:lighter;
	color:#333333;
}

#contactForm input  {
	border: 0;
	display:block;
	width:100%;
	font-size:15px;
	height:40px;
	padding:15px;
	margin:5px;
	color:#999;
	margin-bottom:10px;
}

#contactForm select {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
	border: 0;
	font-size:15px;
	margin-left:5px;
	margin-bottom:8px;
	height:40px;
	color:#999;
	padding-left:12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;


	 background-image:url('img/downarrow.svg');
	background-position: calc(100% - 20px) 10px;
	background-size: 12px 22px;
	background-repeat:no-repeat;

}
#contactForm textarea {
	font-size:15px;
	color:#999;
	width:100%;
	height:200px;
	border: 0;
	padding: 15px;
	margin: 5px;
}

#contactForm button {
	font-family:"Gotham2";
	float:left;
	padding:16px 55px;
	font-weight:bold;
	font-size:12px;
	background-color:white;
	color:#333;
	border: 2px solid #333;
	margin-left:5px;
	margin-top:5px;

}

button:hover {
	cursor:pointer;
}

#contactAfter {
	display:none;
	width:720px;
	font-family:"Gotham-Light";
	margin: 0 auto;
	margin-top:70px;
	color: #333333;
	text-align:center;	
}

#contactAfter .checkmark {
	background-image:url('img/checkmark.svg');
	width:75px;
	height:60px;
	background-size:cover;
	margin: 0 auto;
}

#contactAfter h1 {
	font-size:32px;
	font-family:Gotham-Black;
	letter-spacing:1.5px;
}

#contactAfter p {
	font-size:21px;
	font-weight:normal;
}


#contactAfter a {
	font-size: 13px;
	line-height:13px;
	border: 1px solid #333333;
	color: #333;
	padding: 15px 35px;
	text-decoration:none;
	display:block;
	width:95px;
	margin: 0 auto;
	font-family:Gotham;
	font-weight:bold;
}

#contactAfter a:hover {
	text-decoration:none;
	color:#F57a00;
}

