#contactSlide {
	opacity:0;
	background-color:#EEEEEE;
	padding-top:120px;
	width:100%;
	height:100%;
	z-index:50;
}

#contactInner, #contactInner_kr {
	width:720px;
	font-family:"Gotham-Light";
	margin: 0 auto;
	text-align:center;
	color:#333333;
}

#contactSlide h1 {
	text-align:center;
	font-size:40px;
	font-family:"Gotham-Black";
	letter-spacing:1.5px;
}

#contactInner p, #contactInner_kr p {
	font-size:18px;	
	font-family:"Gotham";
	font-weight:lighter;
}



#contactForm input, #contactForm_kr input  {
	border: 0;
	display:block;
	width:100%;
	font-size:15px;
	height:56px;
	padding:15px;
	margin:5px;
	color:#999;
	margin-bottom:10px;
	font-family:"Gotham-Book";	
}

#contactForm select, #contactForm_kr select {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
	border: 0;
	border-radius:0;
	font-size:15px;
	margin-left:5px;
	margin-bottom:8px;
	height:56px;
	padding-left:12px;
	color:#333;
	font-family:"Gotham-Book";	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;


	background-image:url('img/downarrow.svg');
	background-position: calc(100% - 20px) 16px;
	background-size: 12px 22px;
	background-repeat:no-repeat;

}
#contactForm textarea, #contactForm_kr textarea {
	font-size:15px;
	color:#999;
	width:100%;
	height:150px;
	border: 0;
	padding: 15px;
	margin: 5px;
	font-family:"Gotham-Book";	
}

#contactForm button, #contactForm_kr button {
	font-family:"Gotham2";
	float:left;
	margin:5px;
	right:40px;
	width:160px;
	height:48px;
	top:-40px;
	font-size:12px;
	text-align:center;
	background-color:#EEEEEE;
	color:#333;
	border: 2px solid #333;
	
}

#contactForm button:hover {
	cursor:pointer;
	background-color:#333;
	color:#fff;
	font-family:"Gotham_Book";
}
#contactForm_kr button:hover {
	cursor:pointer;
	background-color:#333;
	color:#fff;
	font-family:"Gotham_Book";
}


#contactAfter {
	display:none;
	width:720px;
	font-family:"Gotham-Light";
	margin: 0 auto;
	margin-top:70px;
	color: #333333;
	text-align:center;	
}

#contactAfter .checkmark {
	background-image:url('img/checkmark.svg');
	width:75px;
	height:60px;
	background-size:cover;
	margin: 0 auto;
}

#contactAfter h1 {
	font-size:32px;
	font-family:Gotham-Black;
	letter-spacing:1.5px;
}

#contactAfter p {
	font-size:21px;
	font-weight:normal;
}


#contactAfter a {
	font-size: 13px;
	line-height:13px;
	border: 1px solid #333333;
	color: #333;
	padding: 15px 35px;
	text-decoration:none;
	display:block;
	width:95px;
	margin: 0 auto;
	font-family:Gotham;
	font-weight:bold;
}

#contactAfter a:hover {
	text-decoration:none;
	color:#F57a00;
}

