@font-face {
  font-family: 'Graublau Web';
  src: url('fonts/Gotham.otf') format('truetype'), 
}
@font-face {
  font-family: 'SF UI Display Regular';
  src: url('fonts/SF-UI-Display-Regular.otf') format('truetype'), 
}

