html {
  font-family: 'SF UI Display Regular';
	padding: 0;
	margin: 0;
	border: 0;
position: relative;
    overflow: hidden;
}


body {
	width:100%;
	margin:0;
	position:absolute;
   overflow-x: hidden;
    overflow-y: scroll;
}
body::-webkit-scrollbar { 
    display: none; 
}


ul {
	list-style-type:none;
	list-style: none;
	padding:0;
}

#container {
	margin: 0;
	padding: 0;
	border:0;
	background-color:black;
	width:100%;
}


#vertical_gallery li {
	list-style: none;
	display:block;
	width:100%;
	height:100%;
	position:relative;
}


