

html, body, #container {
  font-family: 'SF UI Display Regular';
	padding: 0;
	margin: 0;
	border: 0;
}
body::-webkit-scrollbar { 
    display: none; 
}
ul {
	list-style-type:none;
	list-style: none;
	padding:0;
}

#container {
	background-color:black;
}


#vertical_gallery li {
	list-style: none;
	display:block;
	width:100%;
	height:100%;
	position:relative;
}


