/* http://bradsknutson.com/blog/css-sliding-underline/ */
#navBar{
	position:fixed;
	z-index:20;
	padding-top:30px;
	padding-left:30px;
	padding-bottom:30px;
	color:black;
	width:100%;
	background-color:transparent;

}

#navBar ul {
	list-style:none;
	height:20px;
	float:left;
	width:100%;
}

#navBar li {
	margin: 0 40px;
	font-family: "Gotham-Bold";
	font-size:12px;
}

.topMenu {
	position:relative;
	display:inline-block;
	
    white-space: nowrap;
  
  }

.topMenu:hover {
	cursor:pointer;
}

.topMenu:hover .bottom {
	cursor:pointer;
	width: 100%;
	transition: width 0.5s ease-in-out;
	
}
.topMenu .bottom {
	position:absolute;
	top:16px;
	width:0;
	transition: width 0.5s ease-in-out;
	height:3px;
	background:white;

}


.topMenu.slected:not(:first-of-type)  {
	border-bottom:3px solid rgba(1,1,1,0);
	width:50px;
	transition: width 0.5s ease-in-out;
    white-space: nowrap;
 
 
}


.topMenu.selected_black:not(:first-of-type) {
	border-bottom:3px solid rgba(0,0,0,0);
}


/*
#navBar li.selected:not(:first-of-type)  {
	border-bottom: 3px solid white;
	width:0px;
	transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -webkit-transition: width 0.2s ease-in;
}

#navBar li.selected_black:not(:first-of-type)  {
	border-bottom: 3px solid black;
	transition: border-bottom 0.2s ease-in;
    -ms-transition: border-bottom 0.2s ease-in;
    -moz-transition: border-bottom 0.2s ease-in;
    -webkit-transition: border-bottom 0.2s ease-in;
}

/* #navBar li:not(:first-of-type):hover { */

#momentumLogo {
	float:left;
	background-image:url('img/logo_white.svg');
	background-repeat:no-repeat;
	background-size:100%;
	width:150px;
	height:20px;
	opacity:1;

}



#momentumLogo:hover {
	cursor:pointer;
	opacity:0.2;
	
	transition: opacity .3s ease-in;
   	-ms-transition: opacity .3s ease-in;
   	-moz-transition: opacity .3s ease-in;
   	-webkit-transition: opacity .3s ease-in;
}





#langSelector {
	float:right;
	width:60px;
	font-size: 13px;
	font-family: "Gotham-Book";
	padding-top:2px;
	padding-right:90px;	
	
}



.verticalDotsContainer {
	position:fixed;
	top:0;
	width:20px;
	height:100%;
	right:20px;
	z-index:30;
}

.verticalDots {
	position:relative;
	top:50%; /* calc(50% - 40px); */
}

.verticalDots ul {
	height:20px;
	list-style:none;
    vertical-align: middle;	
}

.verticalDots ul > li {
	height:100%;
	text-align:center;
}

.verticalDots ul > li > div {
	width:6px;	
	height:6px;
	background-color: rgba(125,125,125,0.3);	
	/* background-color:gray; */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.verticalDots ul > li > div.selected {
	background-color: white;
}
