
#navBar{
	position:fixed;
	z-index:20;
	padding-top:30px;
	padding-left:30px;
	padding-bottom:30px;
/*	width:660px; */
	color:black;
	width:100%;
	background-color:transparent;
	transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -webkit-transition: background-color 0.4s ease-in;	
}

#navBar ul {
	height:20px;
	width:660px;
	float:left;
}

#navBar li {
	font-family: "Gotham2";
	display:inline;
	font-size:12px;
	padding-bottom:5px;	
	margin: 0 40px;
	border-bottom:3px solid rgba(1,1,1,0);
	transition: border-bottom 0.4s ease-in;
    -ms-transition: border-bottom 0.4s ease-in;
    -moz-transition: border-bottom 0.4s ease-in;
    -webkit-transition: border-bottom 0.4s ease-in;
}

#navBar li.selected:not(:first-of-type)  {
	border-bottom: 3px solid white;
	transition: border-bottom 0.4s ease-in;
    -ms-transition: border-bottom 0.4s ease-in;
    -moz-transition: border-bottom 0.4s ease-in;
    -webkit-transition: border-bottom 0.4s ease-in;
}

#navBar li.selected_black:not(:first-of-type)  {
	border-bottom: 3px solid black;
	transition: border-bottom 0.4s ease-in;
    -ms-transition: border-bottom 0.4s ease-in;
    -moz-transition: border-bottom 0.4s ease-in;
    -webkit-transition: border-bottom 0.4s ease-in;
}

/* #navBar li:not(:first-of-type):hover { */
#navBar li:hover {
	cursor:pointer;
}

#momentumLogo {
	float:left;
	background-image:url('img/logo_white.svg');
	background-repeat:no-repeat;
	background-size:100%;
	width:150px;
	height:60px;
	margin-top:20px;
}

.verticalDotsContainer {
	position:fixed;
	top:0;
	width:20px;
	height:100%;
	right:20px;
	z-index:30;
}

.verticalDots {
	position:relative;
	top:50%; /* calc(50% - 40px); */
}

.verticalDots ul {
	height:20px;
	list-style:none;
    vertical-align: middle;	
}

.verticalDots ul > li {
	height:100%;
	color: gray;	
	text-align:center;
}

.verticalDots ul > li > div {
	width:6px;	
	height:6px;
	background-color:gray;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.verticalDots ul > li > div.selected {
	background-color: white;
}
