#parentslides {
	margin:0;
}

.slidesParent {
	transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
}


#aboutImage {
	background-image:url('img/b2_lights.png');
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	width:100%;
	height:100%;
	position:absolute;
	transition: background-position-y 0.4s ease-in, filter 0.3s ease-in, -webkit-filter 0.4s ease-in;
    -ms-transition: background-position-y 0.4s ease-in, filter 0.3s ease-in, -webkit-filter 0.4s ease-in;
    -moz-transition: background-position-y 0.4s ease-in, filter 0.3s ease-in, -webkit-filter 0.4s ease-in;
    -webkit-transition: background-position-y 0.4s ease-in, filter 0.3s ease-in, -webkit-filter 0.4s ease-in;

}

#aboutSlides {
	height:100%;
	opacity :1;
}

#aboutSlides > ul > li {
	opacity:0;
	transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;

}

#aboutSlides .title {
	opacity:1;
  width: 407px;
  height: 65px;
  font-size: 48px;
  line-height: 1.35;
  text-align: center;
  color: #ffffff;
	margin: 0 auto;
	top:40%;
	display:block;
	position:relative;
}

#workSlides {
	opacity: 0;
	background-color: white;
}

#workSlides > ul > li {
	width: 100%;
	height: 100%;
	overflow:hidden;
}

.workImage {
	width: 960px;
	height:500px;
	margin-top: 300px;
}

#workOne {
	background-image:url('img/work_hungry_panda.png');
}

#workTwo {
	background-image:url('img/work_allegro.png');
}

#contactSlide {
	opacity: 0;
}


.background_img {
	opacity:.7;
	width:100%;
	height:100%;
	position:absolute;
	top:0; left:0;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	
}

.image_title {
	opacity:1;
  width: 407px;
  height: 65px;
  font-size: 48px;
  line-height: 1.35;
  text-align: center;
  color: #ffffff;
	margin: 0 auto;
	top:40%;
	display:block;
	position:relative;
}

.image_desc {
	font-weight:book;	
	color:white;
	position:relative;
	margin: 0 auto;
	width: 960px;
	text-align:center;
	margin-top: 200px;
	font-size:15px;
}

#img1 {
	background-image:url('img/bg.jpg');
}
#img1_title {
  font-family:"SF-UI-Display-Regular";

}

#img2_title {
	font-family: "Gotham2";
	font-weight:black;
	width:500px;
	top:20%;
}


#img2 {
	background-image:url('img/b2_lights.png');
}
#img3 {
	background-image:url('img/bg_lightbulbs.png');
}


#verticalDots ul {
	list-style:none;
}
