deploy.sh
server_settings.py
settings_remotedb.py
*.data
*.zip
*.mp4
*.pem
django.log
django.*.log
*.log
settings_aws.py
settings_local.py
settings_local_test.py
*.pyc
*.pyo
dist
*.db
*.db-journal
media/
static/builds/
*.psd
static/pdf/
*.exe
*.swp
*.swo
*.csv
*.sh
