#container {
	width: 960px;
	background-color:#eee;
	height:600px;
	outline:2px dotted black;
	margin: 50px auto;
	text-align:center;
}

#container div { width: 200px; height:200px; display:inline-block; }
#container .red { background-color:red; }
#container .green { background-color:green; }
#container .blue { background-color:blue; }

